﻿body {
    background-color: #000;
    color: #e4e4e4;
}
#header {
    background-color: #000;
}
.content {
    background-color: #2a2a2a;
}
#footer {
    background-color: #000;
}
.footer-title {
    color: #fff;
}
a {
    color: #4f4f4f;
}
a:hover {
    text-decoration: none;
    color: #00ff21;
}
.callback-form {
    background-color: #000;
    border: 1px solid #00ff21;
    color: #fff;
}
.form-button {
    border: 1px solid #00ff21;
    color: #00ff21;
}