﻿body {
    background-color: #fff;
    color: #000;
}

#header {
    background-color: #fff;
}
.content {
    background-color: #000;
    color: #fff;
}
#footer {
    background-color: #fff;
    color: #000;
}
.footer-title {
    color: #000;
}
a {
    color: #4f4f4f;
}

a:hover {
        text-decoration: none;
        color: #00ff21;
}
.callback-form {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
.form-button {
    border: 1px solid #000;
    color: #000;
}
#page-title{
    color: #fff;
}
